@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
	font-family: digimonFont;
	src: url("../fonts/pixel-digivolve-font/PixelDigivolve-mOm9.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: keyword;
	src: url("../fonts/GoetheGothic/Fonts/goethegothic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.mainContainer {
	background: rgb(73, 178, 180);
	background: linear-gradient(
		0deg,
		rgba(73, 178, 180, 1) 5%,
		rgba(76, 90, 241, 1) 82%
	);
	max-width: 1600px;
	min-height: 100vh;
}

.contenedorPrincipal {
	background: rgb(73, 178, 180);
	background: linear-gradient(
		0deg,
		rgba(73, 178, 180, 1) 5%,
		rgba(76, 90, 241, 1) 82%
	);
}

.cardKeywords {
	font-size: larger;
	font-family: digimonFont, Montserrat, sans-serif;
}

.cardTitle {
	font-size: 30px;
	margin-left: 10px;
}

.containerKeyword {
	display: flex;
	gap: 10px;
}

.linkKeyword {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: keyword;
	color: white;
	width: 200px;
	font-weight: 600;
	background-image: linear-gradient(#613834, #c65809);
	filter: brightness(1.2);
	clip-path: polygon(10% 0, 90% 0, 100% 50%, 89% 100%, 10% 100%, 0% 50%);
	cursor: pointer;
}

.cardText {
	font-size: 20px;
}

.linkKeyword:hover {
}

.titleRullings {
	font-family: digimonFont;
}

/* Lenguage Toggle */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
